<a href="https://colab.research.google.com/github/wlodarma/udemy-py/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [31]:
def fetch_financial_data(company='AMZN'):
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data('META')
df.head()

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [6]:
df.to_csv('fb.csv')

In [8]:
df_nov = df[(df.index.month == 10) & (df.index.year == 2022)]
df_nov

               Open      High       Low   Close     Volume
Date
2022-10-31   98.220   99.3200   92.6000   93.16  121361444
2022-10-28   99.580  100.8500   97.5100   99.20   95928306
2022-10-27   97.975  102.5000   96.3800   97.94  232316571
2022-10-26  131.680  135.5500  128.5300  129.82   89294679
2022-10-25  130.875  138.3500  130.5900  137.51   38433219
2022-10-24  127.250  133.4800  124.5700  129.72   63563447
2022-10-21  126.310  130.1200  125.4400  130.01   46348647
2022-10-20  132.930  136.7700  131.3100  131.53   26356276
2022-10-19  132.890  137.0000  132.2200  133.23   30691047
2022-10-18  137.085  137.8399  131.4000  132.80   25444979
2022-10-17  130.300  134.7900  130.1800  134.04   29612245
2022-10-14  131.000  131.7900  126.5200  126.76   23559407
2022-10-13  123.530  131.1400  122.5301  130.29   34325715
2022-10-12  128.320  129.6700  126.2500  127.50   34605245
2022-10-11  131.620  132.6600  126.9900  128.54   38481403
2022-10-10  133.550  136.1100  131.8700  133.79   24023982
2022-10-07  136.760  138.2900  132.4400  133.45   33214773
2022-10-06  137.715  141.4500  136.6000  139.07   36231056
2022-10-05  138.240  140.2100  134.7800  138.98   27979348
2022-10-04  140.490  142.3901  139.3400  140.28   34670729
2022-10-03  137.140  139.6200  136.1000  138.61   27723063

In [11]:
df_nov.to_csv('fb_nov.csv')

In [12]:
new_df = pd.read_csv('fb_nov.csv')
new_df

          Date     Open      High       Low   Close     Volume
0   2022-10-31   98.220   99.3200   92.6000   93.16  121361444
1   2022-10-28   99.580  100.8500   97.5100   99.20   95928306
2   2022-10-27   97.975  102.5000   96.3800   97.94  232316571
3   2022-10-26  131.680  135.5500  128.5300  129.82   89294679
4   2022-10-25  130.875  138.3500  130.5900  137.51   38433219
5   2022-10-24  127.250  133.4800  124.5700  129.72   63563447
6   2022-10-21  126.310  130.1200  125.4400  130.01   46348647
7   2022-10-20  132.930  136.7700  131.3100  131.53   26356276
8   2022-10-19  132.890  137.0000  132.2200  133.23   30691047
9   2022-10-18  137.085  137.8399  131.4000  132.80   25444979
10  2022-10-17  130.300  134.7900  130.1800  134.04   29612245
11  2022-10-14  131.000  131.7900  126.5200  126.76   23559407
12  2022-10-13  123.530  131.1400  122.5301  130.29   34325715
13  2022-10-12  128.320  129.6700  126.2500  127.50   34605245
14  2022-10-11  131.620  132.6600  126.9900  128.54   38481403
15  2022-10-10  133.550  136.1100  131.8700  133.79   24023982
16  2022-10-07  136.760  138.2900  132.4400  133.45   33214773
17  2022-10-06  137.715  141.4500  136.6000  139.07   36231056
18  2022-10-05  138.240  140.2100  134.7800  138.98   27979348
19  2022-10-04  140.490  142.3901  139.3400  140.28   34670729
20  2022-10-03  137.140  139.6200  136.1000  138.61   27723063

In [16]:
df_nov.to_excel('fb_nov.xlsx')

In [17]:
new_df = pd.read_excel('fb_nov.xlsx', index_col = 0)
new_df

               Open      High       Low   Close     Volume
Date
2022-10-31   98.220   99.3200   92.6000   93.16  121361444
2022-10-28   99.580  100.8500   97.5100   99.20   95928306
2022-10-27   97.975  102.5000   96.3800   97.94  232316571
2022-10-26  131.680  135.5500  128.5300  129.82   89294679
2022-10-25  130.875  138.3500  130.5900  137.51   38433219
2022-10-24  127.250  133.4800  124.5700  129.72   63563447
2022-10-21  126.310  130.1200  125.4400  130.01   46348647
2022-10-20  132.930  136.7700  131.3100  131.53   26356276
2022-10-19  132.890  137.0000  132.2200  133.23   30691047
2022-10-18  137.085  137.8399  131.4000  132.80   25444979
2022-10-17  130.300  134.7900  130.1800  134.04   29612245
2022-10-14  131.000  131.7900  126.5200  126.76   23559407
2022-10-13  123.530  131.1400  122.5301  130.29   34325715
2022-10-12  128.320  129.6700  126.2500  127.50   34605245
2022-10-11  131.620  132.6600  126.9900  128.54   38481403
2022-10-10  133.550  136.1100  131.8700  133.79   24023982
2022-10-07  136.760  138.2900  132.4400  133.45   33214773
2022-10-06  137.715  141.4500  136.6000  139.07   36231056
2022-10-05  138.240  140.2100  134.7800  138.98   27979348
2022-10-04  140.490  142.3901  139.3400  140.28   34670729
2022-10-03  137.140  139.6200  136.1000  138.61   27723063

In [28]:
df = pd.read_csv('london_bike.csv')
df.head(5)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [30]:
df = df.set_index('timestamp')
df.head(5)

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
timestamp,,,,,,,,,
2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [32]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2022-11-02 to 2017-11-06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   float64
dtypes: float64(5)
memory usage: 58.9 KB

In [34]:
apple.head()

               Open     High     Low   Close       Volume
Date
2022-11-02  148.945  152.170  145.00  145.03   93604623.0
2022-11-01  155.080  155.450  149.13  150.65   80379345.0
2022-10-31  153.155  154.240  151.92  153.34   97943171.0
2022-10-28  148.200  157.500  147.82  155.74  164762371.0
2022-10-27  148.070  149.046  144.13  144.80  109180150.0

In [35]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [36]:
apple

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2022-11-02    148.9450    152.1700   145.0000     145.0300  9.360462e+07
2022-11-01    155.0800    155.4500   149.1300     150.6500  8.037934e+07
2022-10-31    153.1550    154.2400   151.9200     153.3400  9.794317e+07
2022-10-28    148.2000    157.5000   147.8200     155.7400  1.647624e+08
2022-10-27    148.0700    149.0460   144.1300     144.8000  1.091802e+08
...                ...         ...        ...          ...           ...
2017-11-10     41.6971     41.7650    41.4964      41.5902  1.055374e+08
2017-11-09     41.5463     41.7850    41.0799      41.7320  1.240264e+08
2017-11-08     41.4424     41.8169    41.3655      41.8169  1.026845e+08
2017-11-07     41.2637     41.5503    41.2637      41.4744  1.025741e+08
2017-11-06     40.8942     41.5183    40.7464      41.3456  1.465704e+08

[1257 rows x 5 columns]

In [39]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)

In [42]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,93.78,46.98,34.80,48.14,78.37,140.09,181.88
apple_high,1257.00,94.92,47.58,35.22,48.58,79.16,142.12,182.19
apple_low,1257.00,92.71,46.37,34.32,47.58,77.88,138.15,178.38
apple_close,1257.00,93.86,47.00,34.37,48.27,78.45,140.42,181.26
apple_volume,1257.00,120225165.18,56409474.75,41169609.59,82622095.57,105643350.04,140017915.02,433988621.55
amazon_open,1257.00,118.93,36.90,55.46,88.23,108.10,158.34,187.20
amazon_high,1257.00,120.35,37.32,56.27,88.97,110.78,159.94,188.65
amazon_low,1257.00,117.37,36.42,55.44,87.27,106.32,156.25,184.84
amazon_close,1257.00,118.87,36.83,56.03,88.21,108.00,158.10,186.57
amazon_volume,1257.00,86081564.86,40876765.26,17626740.00,58162220.00,74391980.00,102288060.00,311345660.00
google_open,1257.00,84.45,31.27,49.22,57.65,71.58,112.64,151.25
google_high,1257.00,85.38,31.58,50.61,58.34,72.15,114.01,151.55
google_low,1257.00,83.52,30.90,48.88,57.14,70.96,111.46,148.90
google_close,1257.00,84.47,31.23,49.23,57.79,71.64,112.72,149.84
google_volume,1257.00,35244590.16,16039701.25,9312760.00,25068280.00,31408720.00,40162660.00,133177100.00
uber_open,879.00,37.93,9.82,15.96,30.67,35.69,44.83,63.25
uber_high,879.00,38.71,9.89,17.80,31.38,36.62,45.46,64.05
uber_low,879.00,37.07,9.68,13.71,30.12,35.02,43.77,60.80
uber_close,879.00,37.89,9.76,14.82,30.68,35.81,44.53,63.18
uber_volume,879.00,25773970.13,16861203.68,3380003.00,15735101.00,21976775.00,31011152.00,186322536.00

In [43]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.33,0.85,0.86,0.85,0.85,-0.28,0.94,0.94,0.94,0.94,-0.12,0.13,0.14,0.13,0.13,0.12
apple_high,1.00,1.00,1.00,1.00,-0.32,0.85,0.86,0.85,0.85,-0.27,0.94,0.94,0.94,0.94,-0.12,0.13,0.13,0.13,0.13,0.12
apple_low,1.00,1.00,1.00,1.00,-0.34,0.85,0.86,0.85,0.85,-0.28,0.94,0.94,0.94,0.94,-0.13,0.14,0.14,0.14,0.14,0.12
apple_close,1.00,1.00,1.00,1.00,-0.33,0.85,0.86,0.85,0.85,-0.28,0.94,0.94,0.94,0.94,-0.12,0.13,0.13,0.13,0.13,0.12
apple_volume,-0.33,-0.32,-0.34,-0.33,1.00,-0.24,-0.24,-0.25,-0.25,0.59,-0.39,-0.39,-0.40,-0.40,0.51,-0.23,-0.22,-0.25,-0.23,0.23
amazon_open,0.85,0.85,0.85,0.85,-0.24,1.00,1.00,1.00,1.00,-0.23,0.82,0.82,0.83,0.82,-0.13,0.55,0.56,0.55,0.55,-0.07
amazon_high,0.86,0.86,0.86,0.86,-0.24,1.00,1.00,1.00,1.00,-0.22,0.83,0.83,0.83,0.83,-0.13,0.54,0.55,0.54,0.54,-0.06
amazon_low,0.85,0.85,0.85,0.85,-0.25,1.00,1.00,1.00,1.00,-0.25,0.82,0.82,0.82,0.82,-0.15,0.56,0.57,0.57,0.57,-0.07
amazon_close,0.85,0.85,0.85,0.85,-0.25,1.00,1.00,1.00,1.00,-0.24,0.82,0.82,0.83,0.82,-0.14,0.55,0.55,0.55,0.55,-0.07
amazon_volume,-0.28,-0.27,-0.28,-0.28,0.59,-0.23,-0.22,-0.25,-0.24,1.00,-0.30,-0.30,-0.31,-0.31,0.59,-0.18,-0.17,-0.20,-0.19,0.24
google_open,0.94,0.94,0.94,0.94,-0.39,0.82,0.83,0.82,0.82,-0.30,1.00,1.00,1.00,1.00,-0.15,0.24,0.24,0.24,0.24,0.10
google_high,0.94,0.94,0.94,0.94,-0.39,0.82,0.83,0.82,0.82,-0.30,1.00,1.00,1.00,1.00,-0.14,0.24,0.24,0.24,0.23,0.10
google_low,0.94,0.94,0.94,0.94,-0.40,0.83,0.83,0.82,0.83,-0.31,1.00,1.00,1.00,1.00,-0.16,0.25,0.25,0.25,0.25,0.09
google_close,0.94,0.94,0.94,0.94,-0.40,0.82,0.83,0.82,0.82,-0.31,1.00,1.00,1.00,1.00,-0.16,0.24,0.24,0.24,0.24,0.10
google_volume,-0.12,-0.12,-0.13,-0.12,0.51,-0.13,-0.13,-0.15,-0.14,0.59,-0.15,-0.14,-0.16,-0.16,1.00,-0.18,-0.17,-0.20,-0.18,0.26
uber_open,0.13,0.13,0.14,0.13,-0.23,0.55,0.54,0.56,0.55,-0.18,0.24,0.24,0.25,0.24,-0.18,1.00,1.00,1.00,0.99,-0.25
uber_high,0.14,0.13,0.14,0.13,-0.22,0.56,0.55,0.57,0.55,-0.17,0.24,0.24,0.25,0.24,-0.17,1.00,1.00,1.00,1.00,-0.23
uber_low,0.13,0.13,0.14,0.13,-0.25,0.55,0.54,0.57,0.55,-0.20,0.24,0.24,0.25,0.24,-0.20,1.00,1.00,1.00,1.00,-0.27
uber_close,0.13,0.13,0.14,0.13,-0.23,0.55,0.54,0.57,0.55,-0.19,0.24,0.23,0.25,0.24,-0.18,0.99,1.00,1.00,1.00,-0.25
uber_volume,0.12,0.12,0.12,0.12,0.23,-0.07,-0.06,-0.07,-0.07,0.24,0.10,0.10,0.09,0.10,0.26,-0.25,-0.23,-0.27,-0.25,1.00

In [45]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [46]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [50]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.33,0.85,-0.28,0.94,-0.12,0.13,0.12
apple_volume,-0.33,1.00,-0.25,0.59,-0.40,0.51,-0.23,0.23
amazon_close,0.85,-0.25,1.00,-0.24,0.82,-0.14,0.55,-0.07
amazon_volume,-0.28,0.59,-0.24,1.00,-0.31,0.59,-0.19,0.24
google_close,0.94,-0.40,0.82,-0.31,1.00,-0.16,0.24,0.10
google_volume,-0.12,0.51,-0.14,0.59,-0.16,1.00,-0.18,0.26
uber_close,0.13,-0.23,0.55,-0.19,0.24,-0.18,1.00,-0.25
uber_volume,0.12,0.23,-0.07,0.24,0.10,0.26,-0.25,1.00

In [53]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [54]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-11-02      29.57      30.16     28.63       28.81     37083453
2022-11-01      30.07      31.00     29.12       29.75     87994014
2022-10-31      27.61      27.73     26.30       26.57     37327035
2022-10-28      27.81      27.88     26.49       27.50     27116701
2022-10-27      28.40      28.76     27.66       27.82     16768633

In [55]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[85 rows x 5 columns]

In [56]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[85 rows x 5 columns]

In [58]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[170 rows x 5 columns]

In [59]:
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/appstore_games.csv'
df_raw = pd.read_csv(url)
df_raw.head()

,URL,ID,Name,Subtitle,Icon URL,Average User Rating,User Rating Count,Price,In-app Purchases,Description,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date
0,https://apps.apple.com/us/app/sudoku/id284921427,284921427,Sudoku,NaN,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,4.00,3553.00,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.00,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
1,https://apps.apple.com/us/app/reversi/id284926400,284926400,Reversi,NaN,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,3.50,284.00,1.99,NaN,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,12328960.00,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
2,https://apps.apple.com/us/app/morocco/id284946595,284946595,Morocco,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,3.00,8376.00,0.00,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.00,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
3,https://apps.apple.com/us/app/sudoku-free/id28...,285755462,Sudoku (Free),NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,3.50,190394.00,0.00,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.00,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
4,https://apps.apple.com/us/app/senet-deluxe/id2...,285831220,Senet Deluxe,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.50,28.00,2.99,NaN,"""Senet Deluxe - The Ancient Game of Life and A...",RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.00,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018